*{
  padding: 0px;
  margin: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

body {
  background-color: rgb(204, 204, 146);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 80%;
    background-color: rgb(201, 201, 201);

    header {
      margin: 0 auto;
      padding: 10px;      
      h1 {
        font-size: 20px;
        text-align: center;
      }
      div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        
        h4  {
          font-size: 16px;
          padding: 5px;
        }
      }
    }
    section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 75%;
      height: 80%;
      white-space: normal;

      p {
        padding: 5px;
        white-space: normal;
      }

      input.btn {
        width: 50%;
        margin: 10px 0px;
        height: 35px;
      }

      textarea {
        padding: 10px;
      }
      
      &.input-section {
        text-align: left;

        div {
          display: inline-block;
          white-space: nowrap;
          width: fit-content;
          padding: 5px;
          margin: 0;
          list-style-type: disc;
          font-size: 12px;
          font-size: 0.9em;
          height: fit-content;

          &.format {
          color: maroon;
          }
          
        ul {

          li {
            margin-left: 20px;
            }
        }
        }
      }

      &.output-section {
        text-align: right;
        min-height: 150px;

        textarea {
          display:none;
        }
      }

    }

    footer {
        padding: 10px;
        margin: 0 auto;

      a {
        color:black;
        &:visited {
          color:black;
        }
      }
    }
  }
}



@media only screen and (min-width: 768px) {
  
  *{
    font-size: 18px
  }
  body{
    
    main{

      header{
      
        h1 {
          font-size: 26px;
        }
        
        h4  {
          font-size: 18px;
          margin: 0 auto;
        }
      }

      section {

        &.input-section {

          div {
            &.format {
              text-indent: 20px;
            }
          }
        }
      }
    }
  }
}